[client]
port=3306
socket=/data/mysql/mysql.sock

[mysqld]
init_connect='SET collation_connection = utf8_general_ci; SET NAMES utf8;'

datadir=/data/mysql
socket=/data/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
# old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

character-set-server    = utf8
default-storage-engine  = INNODB

innodb_file_per_table

#
skip-name-resolve
skip-character-set-client-handshake

## max connection
max_connections=400

# system config
#MYISAM =========================================================
key_buffer_size=100M
thread_concurrency=4
myisam_sort_buffer_size=32M

#INNODB ==========================================================
innodb_buffer_pool_size=1000M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=0
innodb_file_io_threads=4
innodb_lock_wait_timeout=10
innodb_thread_concurrency=8
innodb_additional_mem_pool_size=16M
#innodb_log_archive=0
#innodb_mirrored_log_groups=1
#innodb_log_files_in_group=3
innodb_log_file_size=128M

#BUFFERS OF VARIOUS SORTS ========================================
sort_buffer_size=6M
join_buffer_size=8M
read_buffer_size=8M
read_rnd_buffer_size=16M

delay_key_write=all
flush_time=3600
myisam_recover=default

#replication
log-bin=mysql-bin
binlog-do-db=
binlog-do-db=
binlog-do-db=
binlog-ignore-db=
binlog-ignore-db=
binlog-ignore-db=
server-id=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
port=3306
socket=/data/mysql/mysql/mysql.sock

[mysqld]
init_connect='SET collation_connection = utf8_general_ci; SET NAMES utf8;'

datadir=/data/mysql/mysql
socket=/data/mysql/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
# old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

character-set-server    = utf8
default-storage-engine  = INNODB

innodb_file_per_table

#
skip-name-resolve
skip-character-set-client-handshake

## max connection
max_connections=400

# system config
#MYISAM =========================================================
key_buffer_size=100M
thread_concurrency=4
myisam_sort_buffer_size=32M

#INNODB ==========================================================
innodb_buffer_pool_size=1000M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=0
innodb_file_io_threads=4
innodb_lock_wait_timeout=10
innodb_thread_concurrency=8
innodb_additional_mem_pool_size=16M
#innodb_log_archive=0
#innodb_mirrored_log_groups=1
#innodb_log_files_in_group=3
innodb_log_file_size=128M

#BUFFERS OF VARIOUS SORTS ========================================
sort_buffer_size=6M
join_buffer_size=8M
read_buffer_size=8M
read_rnd_buffer_size=16M

delay_key_write=all
flush_time=3600
myisam_recover=default

#replication
server-id=11

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


